POSTGRES_PASSWORD=<dont put secrets into version control>
POSTGRES_USER=zitadel-admin
POSTGRES_DB=zitadel
ZITADEL_DATABASE_POSTGRES_HOST: zitadel-db
ZITADEL_DATABASE_POSTGRES_PORT: 5432
ZITADEL_DATABASE_POSTGRES_DATABASE: zitadel
ZITADEL_DATABASE_POSTGRES_USER_USERNAME: zitadel-admin
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD: <dont put secrets into version control>
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE: disable
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME: zitadel
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD: <another random password>
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE: disable
ZITADEL_EXTERNALSECURE: 'false'
ZITADEL_MASTERKEY=<secret with 32 characters>